/*Use media query in order to give a visual queue to users that the window size
is smaller than default resulting in a side scroll bar to appear at the bottom.*/
@media (max-width: 1897px) {
    /*Change main text boxes to become red to signify difference.*/
    div.main {
        border-style: solid;
        border-color: red;
        background-color: rgb(238, 127, 87);
    }
}

/*Change text color for entire document to the designated color.*/
* {
    color: rgb(97, 54, 54);
}

/*Change color of the main page to designated color.*/
body {
    background-color: rgb(250, 238, 226);
}

/*Add shadow to list within this section.*/
section li {
    text-shadow: 2px 2px 5px black;
}

/*Underline the main description text.*/
header>p {
    text-decoration: underline;
    text-decoration-color: black;
}

/*Change video description text properties.*/
video ~ p{
    color: brown;
    background-color: yellowgreen;
}

/*Change properties of text in the more information section of the image.*/
summary + p {
    color: red;
}

/*Create a specific border around the main text blocks of each day.*/
div.main {
    border-left-style: solid;
    border-right-style: none; 
    border-top-style: dotted; 
    border-bottom-style: dotted; 
    padding-left: 25px;
}

/*Create the navigation box with specific border and color options*/
.myDiv {
    background-color: white;
    width: 350px;
    height: 150px;
    margin: 5px;
    padding: 0px 0px 30px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    display: inline-block;
    position: static;
}

/*Create a box that contains the video and all related items*/
#videoBox {
    max-width: 9in;
    height: 14cm;
    margin-top: 10pt;
    margin-bottom: 10pt;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-style: solid;
    border-color: black;
    display: block;
}

/*Create a box that contains the image and all related items*/
#imageBox {
    width: 6in;
    height: 15cm;
    border-style: double;
    border-color: rgb(215 94 94);
    padding-left: 2vw;
    padding-right: 2vw;
    display: block;
}

/*Create a box that contains the audio and all related items*/
#audioBox {
    width: 8cm;
    height: 45pt;
    border-style: solid;
    border-color:hsl(234, 68%, 28%);
    border-radius: 30px;
}

/*Set all media boxes to occupy the media space within the grid defined below.*/
#imageBox, #audioBox, #videoBox {
    grid-area: media;
}

/*Create a box that separates the list in day three from the text around it.*/
.listBox {
    width: 20rem;
    max-height: 14vh;
    border-style: solid;
    border-color: hsl(280, 24%, 63%);
    border-radius: 10px;
    margin: 0px 0px 0px 20px;
}

/*Create a "button" that sticks to the top of the page as the user scrolls which, when pressed, 
will take the user back to the top of the page.*/
#topOfPage {
    text-align: right;
    position: sticky;
    top: 20px;
}

/*Define a grid container with the following layout format.*/
.container {
    display: grid;
    /*Allocate grid area sizes as defined below.*/
    grid-template-columns: 50px 600px 300px 550px auto;
    grid-template-rows: auto;
    /*Define layout of grid as follows:*/
    grid-template-areas: 
        ". header header header header"
        "media media media main main"
        "media media media . ."
        "footer footer footer . date";
}

/*Define a flexbox container.*/
.flexBox {
    display: flex;
    /*Place objects in the flexbox from left to right.*/
    flex-direction: row;
    /*In case objects fill up line, wrap the items to the next line.*/
    flex-wrap: wrap;
    /*If there is space left over in the line, fill it by placing spaces in between objects.*/
    justify-content: space-between;

}

/*Set all items with an id starting with form to the following.*/
[id|="form"] {
    text-decoration: underline;
    text-decoration-color: green;
}

/*Create a class to assign to things we wish to place in the main section of our grid.*/
.main {
    grid-area: main;
}

/*Create a class to assign to things we wish to place in the footer section of our grid.*/
.footer {
    grid-area: footer;
}

/*Change the properties of the main title to be the following.*/
h1 {
    /*Change font to be the Lobster font.*/
    font-family: Lobster;
    text-decoration: underline overline;
    text-decoration-color: green;
    text-align: center;
}

/*Class that changes the attributes of h2 sections to the following.*/
.header2 {
    text-align: center;
    grid-area: header;
    text-decoration: underline;
    text-decoration-color: red;
}

/*Class that creates a bold underline when items are hovered over.*/
.holder:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}

/*Change the h3 heading to be in the date area of our grid and to change the properties
to the following.*/
h3{
    grid-area: date;
    text-align: right;
    color: orangered;
}

/*Class that changes color of text when item is clicked.*/
.changeColor:active {
    color: red;
}

/*Add Lobster font to be used in the document.*/
@font-face {
    font-family: Lobster;
    src: url(fonts/Lobster-Regular.ttf);
}

/*Add NewTegomin-Regular font to be used in the document.*/
@font-face {
    font-family: Tegomin;
    src: url(fonts/NewTegomin-Regular.ttf);
}

/*Change the font of all paragraph sections to be the Tegomin font.*/
p{
    font-family: Tegomin;
}